.titulo{
  font-weight: 900; text-align: center; padding: 20px;
}

.error{
  display: block;
  background-color: red;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

.success{
  display: block;
  background-color: green;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}
